*,
::after,
::before {
	box-sizing: border-box;
}

/* fonts*/
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400|Lobster+Two:400");

html {
	font-size: 100%;
} /*16px*/ /*16px*/

:root {
	/*colors*/
	--primary-100: #d6ebff;
	--primary-200: #add6ff;
	--primary-300: #85c2ff;
	--primary-400: #5cadff;
	--primary-500: #3399ff;
	--primary-600: #297acc;
	--primary-700: #1f5c99;
	--primary-800: #143d66;
	--primary-900: #081321;

	/* grey */
	--grey-50: #f9fafb;
	--grey-100: #f3f4f6;
	--grey-200: #e5e7eb;
	--grey-300: #d1d5db;
	--grey-400: #9ca3af;
	--grey-500: #6b7280;
	--grey-600: #4b5563;
	--grey-700: #374151;
	--grey-800: #1f2937;
	--grey-900: #111827;

	/* rest of colors */
	--black: #222;
	--white: #fff;
	--red-light: #f8d7da;
	--red-dark: #842029;
	--green-light: #d1e7dd;
	--green-dark: #0f5132;

	/* fonts */
	--headingFont: "Lobster Two", sans-serif;
	--bodyFont: "Yanone Kaffeesatz", sans-serif;
	--small-text: 0.7rem;

	/* rest of the vars */
	--backgroundColor: var(--grey-50);
	--textColor: var(--grey-900);
	--borderRadius: 0.25rem;
	--letterSpacing: 1px;
	--transitions: 0.3s ease-in-out all;
	--max-width: 1120px;
	--fixed-width: 600px;

	/* box shadows*/
	--shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	--shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
}

body {
	background: var(--backgroundColor);
	font-family: var(--bodyFont);
	font-weight: 400;
	line-height: 1.75;
	color: var(--textColor);
}

p {
	margin-top: 0;
	margin-bottom: 1.5rem;
	max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: 1.38rem;
	font-family: var(--headingFont);
	font-weight: 400;
	line-height: 1.3;
	text-transform: capitalize;
	letter-spacing: var(--letterSpacing);
}

h1 {
	margin-top: 0;
	font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
}

h3 {
	font-size: 1.953rem;
}

h4 {
	font-size: 1.563rem;
}

h5 {
	font-size: 1.25rem;
}

small,
.text_small {
	font-size: var(--small-text);
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

.img {
	width: 100%;
	display: block;
	object-fit: cover;
}

/* buttons */
.btn {
	cursor: pointer;
	color: var(--white);
	background: var(--primary-500);
	border: transparent;
	border-radius: var(--borderRadius);
	letter-spacing: var(--letterSpacing);
	padding: 0.375rem 0.75rem;
	box-shadow: var(--shadow-1);
	transition: var(--transitions);
	text-transform: capitalize;
	display: inline-block;
}

.btn:hover {
	background: var(--primary-700);
	box-shadow: var(--shadow-3);
}

.btn-hipster {
	color: var(--primary-500);
	background: var(--primary-200);
}

.btn-hipster:hover {
	color: var(--primary-200);
	background: var(--primary-700);
}

.btn-block {
	width: 100%;
}

/* alerts */
.alert {
	padding: 0.375rem 0.75rem;
	margin-bottom: 1rem;
	border-color: transparent;
	border-radius: var(--borderRadius);
}

.alert-danger {
	color: var(--red-dark);
	background: var(--red-light);
}
.alert-success {
	color: var(--green-dark);
	background: var(--green-light);
}

/* form */
.form {
	width: 90vw;
	max-width: var(--fixed-width);
	background: var(--white);
	border-radius: var(--borderRadius);
	box-shadow: var(--shadow-2);
	padding: 2rem 2.5rem;
	margin: 3rem auto;
}

.form-label {
	display: block;
	font-size: var(--small-text);
	margin-bottom: 0.5rem;
	text-transform: capitalize;
	letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
	width: 100%;
	padding: 0.375rem 0.75rem;
	border-radius: var(--borderRadius);
	background: var(--backgroundColor);
	border: 1px solid var(--grey-200);
}

.form-row {
	margin-bottom: 1rem;
}

.form-textarea {
	height: 7rem;
}

::placeholder {
	font-family: inherit;
	color: var(--grey-400);
}

/* This Is Just To Showcase Alert Text*/
.form-alert {
	color: var(--red-dark);
	letter-spacing: var(--letterSpacing);
	text-transform: capitalize;
}

/* alert */
@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.loading {
	width: 6rem;
	height: 6rem;
	border: 5px solid var(--grey-400);
	border-radius: 50%;
	border-top-color: var(--primary-500);
	animation: spinner 0.6s linear infinite;
}

.loading {
	margin: 0 auto;
}

/* title */
.title {
	text-align: center;
}

.title-underline {
	background: var(--primary-500);
	width: 7rem;
	height: 0.25rem;
	margin: 0 auto;
	margin-top: -1rem;
}

/*
=============== 
Navbar
===============
*/

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-center {
	width: 90vw;
	max-width: var(--max-width);
}

.nav-header {
	height: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-logo {
	display: flex;
	align-items: flex-end;
}

.nav-header img {
	width: 200px;
}

.nav-btn {
	padding: 0.15rem 0.75rem;
}

.nav-btn i {
	font-size: 1.25rem;
}

.nav-links {
	height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition: var(--transition);
}

.show-links {
	height: 23.9375rem;
}

.nav-link {
	display: block;
	text-align: center;
	font-size: 1.25rem;
	text-transform: capitalize;
	color: var(--grey-900);
	letter-spacing: var(--letterSpacing);
	padding: 1rem 0;
	border-top: 1px solid var(--grey-500);
	transition: var(--transition);
}

.nav-link:hover {
	color: var(--primary-500);
}

.contact-link a {
	padding: 00.15rem 1rem;
}

@media screen and (min-width: 992px) {
	.nav-btn {
		display: none;
	}
	.navbar {
		height: 6rem;
	}
	.nav-center {
		display: flex;
		align-items: center;
	}
	.nav-header {
		padding: 0;
		margin-right: 2rem;
		height: auto;
	}
	.nav-links {
		height: auto !important;
		flex-direction: row;
		align-items: center;
		width: 100%;
	}
	.nav-link {
		padding: 0;
		border-top: none;
		margin-right: 1rem;
		font-size: 1rem;
	}
	.contact-link {
		margin-left: auto;
		margin-right: 0;
	}
}
/*
=============== 
Page
===============
*/
.page {
	width: 90vw;
	max-width: var(--max-width);
	margin: 0 auto;
}

.page {
	padding-top: 2rem;
	min-height: calc(100vh - (6rem + 4rem));
}

/*
=============== 
Footer
===============
*/
.page-footer {
	text-align: center;
	height: 4rem;
	background: var(--black);
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-footer p {
	margin-bottom: 0;
}

.footer-logo,
.page-footer {
	color: var(--primary-500);
}

/*
=============== 
Hero
===============
*/

.hero {
	height: 40vh;
	background: url("/Assets/Great recipes Hero Orange.jpg") center/cover
		no-repeat;
	margin-bottom: 2rem;
	border-radius: var(--borderRadius);
	position: relative;
}

.hero-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000 -1px -1px 0 #000;
	border-radius: var(--borderRadius);
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-text {
	text-align: center;
	color: var(--white);
}

@media screen and (min-width: 768px) {
	.hero-text h1 {
		font-size: 4rem;
		margin-bottom: 0;
	}
}

/*
=============== 

===============
*/
.recipes-container {
	display: grid;
	gap: 2rem 1rem;
}

.tags-container {
	order: 1;
	display: flex;
	flex-direction: column;
	padding-bottom: 3rem;
}

.recipes-list {
	display: grid;
	gap: 2rem 1rem;
	padding-bottom: 3rem;
}

.tags-container h4 {
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.tags-list {
	display: grid;
	grid-template-columns: 1fr;
}

.tags-list a {
	text-transform: capitalize;
	display: block;
	color: var(--grey-500);
	transition: var(--transition);
}
.tags-list a:hover {
	color: var(--primary-500);
}

.recipe {
	display: block;
}

.recipe-img {
	height: 15rem;
	border-radius: var(--borderRadius);
	margin-bottom: 1rem;
}

.recipe h5 {
  line-height: 1;
	margin-bottom: 0;
	color: var(--grey-700);
}

.recipe p {
	margin-bottom: 0;
	line-height: 1;
	margin-top: 0.5rem;
	color: var(--grey-500);
	letter-spacing: var(--letterSpacing);
}

@media screen and (min-width: 576px) {
	.recipes-list {
		grid-template-columns: 1fr 1fr;
	}
	.recip-img {
		height: 10rem;
	}
	.about-img {
		height: 100%;
	}
}

@media screen and (min-width: 992px) {
	.recipes-container {
		grid-template-columns: 200px 1fr;
	}
	.recipe p {
		font-size: 0.85rem;
	}
	.tags-container {
		order: 0;
	}
}

@media screen and (min-width: 1200px) {
	.recipe h5 {
		font-size: 1.15rem;
	}
	.recipes-list {
		grid-template-columns: 1fr;
	}
}

/*
=============== 
Error
===============
*/
.error-page {
	text-align: center;
	padding-top: 5rem;
}

.error-page h1 {
	font-size: 9rem;
}

/*
=============== 
About
===============
*/
.about-page {
	text-transform: none;
	font-weight: bold;
}

.about-page {
	display: grid;
	gap: 2rem 4rem;
	padding-bottom: 3rem;
}

.about-img {
	border-radius: var(--borderRadius);
	height: 300px;
}

@media screen and (min-width: 992px) {
	.about-page {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 400px;
		align-items: center;
	}
	.about-img {
		height: 100%;
	}
}

.featured-title {
	text-align: center;
}

/*
=============== 
Contact
===============
*/
.contact-form {
	width: 100%;
	margin: 0;
}

.contact-container {
	display: grid;
	gap: 2rem 3rem;
	padding-bottom: 3rem;
}

@media screen and (min-width: 992px) {
	.contact-container {
		grid-template-columns: 1fr 450px;
    align-items: center;
	}
}
